<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<main>
    <h1>about {{title}}</h1>
    <p>one sexy mother f***er (more to come swearsies)</p>
</main>
</body>
</html>