@font-face {
  font-family: "Inter";
  src: url('/assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url('/assets/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url('/assets/fonts/Inter-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}