main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .branding {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgray;

    .logo {
      max-height: 200px;
    }
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}