body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 8px;
  height: 100%;
  min-height: 50vh;


  .branding {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgray;

    .logo {
      max-height: 200px;
    }
  }

  .navigation {
    position: sticky;
    top: 0;
    background: white;
    width: 100%;
  }

  .slider {
    position: fixed;
  }

  article {
    padding: 8px;
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.border-right {
  border-top: none;
  border-right: 1px solid lightgray;
}