body {
  margin: 0;
}

a {
  text-decoration: none;
  position: relative;
  color: #0ba750;
  opacity: 1;

  &:hover {
    opacity: 0.7;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;

  &.post {
    grid-template-columns: 1fr;
  }

  grid-column-gap: 8px;
  height: 100%;
  min-height: 50vh;


  .branding {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgray;

    .logo {
      max-height: 200px;
    }
  }

  .navigation {
    position: sticky;
    top: 0;
    background: white;
    width: 100%;

    a {
      display: inline-block;
      margin: 10px 0;
      padding: 8px 16px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -10px;
        width: 5px;
        height: 100%;
        background-color: #0ba750;
        z-index: -1;
        transition: width 100ms ease-in-out;
      }

      &:hover {
        opacity: 1;
        color: #38dc7c;

        &::after {
          width: calc(100% + 15px);
          background-color: #0ba750;
        }
      }
    }


    ul {
      list-style-type: none;

      li {
        display: block;
      }
    }
  }

  .slider {
    position: fixed;
  }

  article {
    padding: 8px;
  }

  @include for-tablet-landscape-up {
    grid-template-columns: repeat(2, 1fr);
  }
}

.border-right {
  border-top: none;
  border-right: 1px solid lightgray;
}