.post-list {
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    li {
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 8px;
      
      a {
        margin-bottom: 0;
      }

      span {
        font-size: 1rem;
      }
    }
  }
}