body {
  margin: 0;
  background-color: $black;
  max-width: 100vw;
}

a {
  text-decoration: none;
  position: relative;
  color: $green;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}

pre {
  overflow-x: scroll;
  background-color: $black;
  color: #b9b9b9;
  padding: 16px;
}

code {
  background-color: $black;
  color: #b9b9b9;
  padding: 4px;
  font-size: 1.6rem;
  overflow-x: scroll;
}

ul {
  padding-left: 16px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  height: 100%;
  min-height: 50vh;
  margin: 8px;
  background-color: transparent;

  > * {
    background-color: #efefef;
    padding: 16px;
  }

  .post-list {
    grid-row: span 1;
  }

  .branding-wrapper {
    width: calc(100% - 32px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
  }

  .branding {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    position: relative;
    max-width: 1600px;

    @include for-desktop-up {
      grid-template-columns: 200px 1fr;
    }

    .logo {
      display: block;
      height: 200px;

      img {
        height: 200px;
        width: 200px;
        max-height: 200px;
      }
    }

    h1 {
      position: relative;
      z-index: 1;

      &::after {
        content: "";
        background-color: $green;
        width: 25%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: width 250ms ease-in-out;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  .navigation {
    background: #efefef;
    border-bottom: 8px solid $black;
    margin-bottom: -8px;

    ul {
      list-style-type: none;

      li {
        display: block;
      }
    }
  }

  @include for-desktop-up {
    grid-template-columns: repeat(2, 1fr);
  }
}

a.block-link {
  position: relative;
  display: inline-block;
  margin: 10px 0;
  padding: 8px 16px;
  border: 4px solid $black;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: -10px;
    width: 5px;
    height: 100%;
    background-color: $green;
    z-index: -1;
    transition: width 100ms ease-in;
    border: 4px solid $black;
    border-inline: 4px solid $black;
  }

  &:hover {
    opacity: 1;
    color: $black;

    &::before {
      width: calc(100% + 10px);
      background-color: $green;
    }
  }
}

article.intro {
  grid-row: span 2;
}

.bio {
  grid-row: span 3;

  .header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    transform: scale(0.5);
  }
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .bio {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .picture {
      max-width: 150px;
      width: 100%;
      padding: 16px;

      img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        border: 8px solid black;
      }
    }

    .copy {
      ul {
        margin-left: 32px;
      }
    }
  }

  .motd {
    margin: auto;
    min-width: 50%;
    max-width: 80%;
    padding: 8px;

    > * {
      line-height: 1.2;
    }

    h5 {
      font-size: 0.8rem;
      color: dimgray;
      text-align: left;
      font-weight: lighter;
      margin: 0 0 8px;
    }

    .message {
      margin: 0;
      text-align: right;
      font-size: 1.5rem;
    }

    .subcopy {
      margin: 0;
      font-size: 1rem;
      text-align: right;
      font-style: italic;
    }

    .link {
      font-size: 1rem;
      text-align: right;
      font-style: italic;
      display: block;
    }
  }
}