{% macro list_posts(pages) %}
<ul>
    {%- for page in pages %}
    <section class="list-item">
        <h1 class="title">
            <a href={{ page.permalink }}>{{page.title}}</a>
        </h1>

        <div class="meta">
            {%- if page.date %}
            <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
            {% endif -%}
            {% if page.draft %}
            <span class="draft-label">DRAFT</span>
            {% endif %}
        </div>

        <br/>
        <div class="description">
            {% if page.description %}
            {{ page.description }}
            {% elif page.summary %}
            {{ page.summary | safe }}&hellip;
            {% else %}
            {% set hide_read_more = true %}
            {% endif %}
        </div>

        {% if not hide_read_more %}
        <a class="readmore" href={{ page.permalink }}>Read more ⟶</a>
        {% endif %}
    </section>

    {% endfor -%}
</ul>
{% endmacro list_posts %}