body {
  background-color: #e1e1e1;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 60vh;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.branding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 80vw;
  width: 100%;
  @media only screen and (max-width: 981px) {
    flex-direction: column;
  }
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }

  img.logo {
    max-height: 100px;
  }
}

main {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

h1.copy-placeholder {
  font-size: 4em;
}

footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  a {
    background-color: #00B653;
    color: white;
    padding: 12px;
    border-radius: 2px;
    font-size: 1.5em;
    text-decoration: none;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
    &:hover {
      opacity: 0.8;
    }
  }
}