<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %} - sneaky crow</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/site.webmanifest" rel="manifest">
    {% endblock head %}
</head>
<body>
<header>
    <nav>
        <a href="/">home</a>
        <a href="/blog">blog</a>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock content %}
</main>
<footer>
    {% block footer %}
    {% endblock footer %}
</footer>
</body>
</html>