<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<main>
    <div class="branding">
        <img class="logo" alt="" src="./assets/images/logo_v2.svg"/>
        <div>
            <h1>{{title}}</h1>
            <h2>{{subtitle}}</h2>
        </div>
    </div>
</main>

<script type="module" src="./assets/js/slider.js"></script>
</body>
</html>