{% extends "base.html" %}
{% block title %}data and web developer{% endblock title %}
{% block head %}
{{ super() }}
<link href="/home.css" rel="stylesheet">
<link href="/content.css" rel="stylesheet">
{% endblock head %}

{% block content %}
    {{ page.content | safe }}
{% endblock content %}
{% block footer %}
{{ super() }}
<script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="search_index.en.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="search.js") }}"></script>
{% endblock footer %}
