<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<main>
    <div class="branding">
        <img class="logo" alt="" src="./assets/images/logo_v2.svg"/>
        <div>
            <h1>{{title}}</h1>
            <h2>{{subtitle}}</h2>
        </div>
    </div>
    <div>
        <ul>
            <li>
                <a href="">Example Link</a>
            </li>
            <li>
                <a href="">Example Link</a>
            </li>
        </ul>
    </div>
    <article>
        <h3>hello world</h3>
        <p>My name is Zach and I love problem-solving with software. With over a decade of experience, I've worked
            with many partners including Twitch, Nike, and local PNW businesses. I work with both businesses
            and
            individuals.</p>
        <p>My preference is short term projects that are interesting (to me). I'm particularly interested to
            projects in
            relation to my hobbies, like gaming and music, and I'm flexible with budgets, so please don't hesitate to
            contact me if you fit some of that description.</p>
        <p>I specialize in web development and data engineering, with expertise in front-end, back-end, data pipelining,
            data analysis, and scalable services.</p>
        <p>Some of the Software I've developed, and that I'm particularly proud of:
        <ul>
            <li>
                Fulcrum, a near real-time chat analysis and event system. This tool allows post-processing analytics,
                including a UI for analyzing. It also has an event system with thresholds, and a tool we call
                "sentiment". With these events the user declares, they can react to such events in near real-time. For
                example:
                <ul>
                    <li>automatically clipping when a certain amount of POGs happen in chat</li>
                </ul>
            </li>
        </ul>
        </p>
        <p>Some of my favorite technologies to work with are: Rust, Go, and React. You can visit some of my projects on
            my <a href="">github</a>.</p>
    </article>
    <div>
        <div class="slider"></div>
        <div class="slider"></div>
    </div>
</main>

<script type="module" src="./assets/js/slider.js"></script>
</body>
</html>