@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    @apply bg-white;
}

a {
    @apply text-green-550;
    @apply font-semibold;
    @apply transition-opacity;
    @apply transition-colors;
}

a:hover {
    @apply opacity-75;
}

.noise {
    background: url(https://grainy-gradients.vercel.app/noise.svg), linear-gradient(to bottom, #00ff74, #00d05d);
    @apply text-white;
}