@tailwind base;
@tailwind components;
@tailwind utilities;

:root [data-theme="sneakycrow-skeleton"] {
  font-family: "Outfit", sans-serif;
}

@supports (font-variation-settings: normal) {
  :root [data-theme="sneakycrow-skeleton"] {
    font-family: "Outfit", sans-serif;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  @apply bg-white;
}

a {
  @apply text-primary-500;
  @apply font-semibold;
  @apply transition-opacity;
  @apply transition-colors;
}

blockquote {
  position: relative;
  margin-left: 16px;
  @apply text-gray-400;
  @apply text-lg;
  @apply font-light;
  @apply py-4;
}

blockquote a {
  @apply text-gray-500;
  @apply underline;
}

blockquote::before {
  content: "";
  min-width: 8px;
  display: block;
  height: 100%;
  @apply bg-gray-300;
  position: absolute;
  left: -16px;
  top: 0;
}

/* Bounce animation */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
